<section data-ng-controller="ProfilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Current Profile Pic</h1>
    </div>
    
    <div class="text-center">
    	This is your current profile pic. Would you like to <a href="/#!/profiles/create">upload</a> a new profile pic?
    </div>
    
    <div class="profile">
	        <a data-ng-end="profile in profiles" ng-swipe-right="hide(index)">	
				<image src="{{profiles[0].image}}" style="max-width:100%" />			
	        </a>
	  </div>
        
    
    <div class="alert alert-warning text-center" data-ng-hide="!profiles.$resolved || profiles.length">
    	No Profile Pic yet, why don't you <a href="/#!/profiles/create">create one</a>?
    </div>
</section>
